#Username {
}

#Title {


}

#Container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  align-items: center;
}

#SearchResultBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  width: 50%;
}

  #continueBtn {
    visibility: hidden;
  }

#SearchResultPfp {
  height: 5vh;
  width: 5vh;
}

#SearchResultUsername {
  margin-left: 1vh;
  margin-right: 1vh;
  text-align: center;
  align-self: center;
  width: 40%;
  word-wrap:break-word;
  flex-wrap: wrap;
}

#SignedStatus {
  text-align: right;
}

#SearchResults {
  width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}